<div style="margin-top: 3%; background: url('../../assets/op.png') no-repeat center;" class="container d-none d-sm-none d-md-block">
  <table class="table" style="color:white; font-weight:bold; text-align: center;text-shadow: 1px 1px 1px #D7FE08;">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Place</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col"></th>
        <th scope="col">RESULTS</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="row">RAPTORS</td>
      <td>VS</td>
      <td>BLACK ANGELS</td>
      <td>VERVIERS</td>
      <td>March 2</td>
      <td>16:00</td>
      <td></td>
      <td>-</td>
      <td></td>
    </tr>
      <tr>
        <td scope="row">ATOMICS</td>
        <td>VS</td>
        <td>RAPTORS</td>
        <td>SOUMAGNE</td>
        <td>March 9</td>
        <td>15:00</td>
        <td></td>
        <td>-</td>
        <td></td>
      </tr>
      <tr>
        <td scope="row">RAPTORS</td>
        <td>VS</td>
        <td>MUSTANGS</td>
        <td>VERVIERS</td>
        <td>March 23</td>
        <td>19:00</td>
        <td></td>
        <td>-</td>
        <td></td>
      </tr>
      <tr>
        <td scope="row">BLACK ANGELS</td>
        <td>VS</td>
        <td>RAPTORS</td>
        <td>AMAY</td>
        <td>March 30</td>
        <td>16:00</td>
        <td></td>
        <td>-</td>
        <td></td>
      </tr>
    <tr>
      <td scope="row">RAPTORS</td>
      <td>VS</td>
      <td>MUSTANGS</td>
      <td>VERVIERS</td>
      <td>April 13</td>
      <td>19:00</td>
      <td></td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td scope="row">RAPTORS</td>
      <td>VS</td>
      <td>ATOMICS</td>
      <td>SINT-AGATHA-BERCHEM</td>
      <td>April 27</td>
      <td>12:00</td>
      <td></td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td scope="row">ATOMICS</td>
      <td>VS</td>
      <td>RAPTORS</td>
      <td>SOUMAGNE</td>
      <td>May 4</td>
      <td>15:00</td>
      <td></td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td scope="row">RAPTORS</td>
      <td>VS</td>
      <td>BLACK ANGELS</td>
      <td>SINT-AGATHA-BERCHEM</td>
      <td>May 11</td>
      <td>15:00</td>
      <td></td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td scope="row">MUSTANGS</td>
      <td>VS</td>
      <td>RAPTORS</td>
      <td>AMAY</td>
      <td>May 25</td>
      <td>16:00</td>
      <td></td>
      <td>-</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>





<div style="margin-top: 3%;" class="container d-block d-sm-none">
  <table class="table" style="color:white; font-weight:bold; text-align: center;text-shadow: 1px 1px 1px #D7FE08;">
    <thead>
    <tr>
      <th scope="col">#1</th>
      <th scope="col">INFO</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="row">GAME:</td>
      <td>RAPTORS VS BLACK ANGELS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>VERVIERS</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>MARCH 2</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>


    <tr>
      <th scope="col">#2</th>
      <th scope="col">INFO</th>
    </tr>

    <tr>
      <td scope="row">GAME:</td>
      <td>ATOMICS VS RAPTORS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>SOUMAGNE</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>MARCH 9</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>15:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>



    <tr>
      <th scope="col">#3</th>
      <th scope="col">INFO</th>
    </tr>

    <tr>
      <td scope="row">GAME:</td>
      <td>RAPTORS VS MUSTANGS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>VERVIERS</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>MARCH 23</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>19:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>




    <tr>
      <th scope="col">#4</th>
      <th scope="col">INFO</th>
    </tr>

    <tr>
      <td scope="row">GAME:</td>
      <td>BLACK ANGELS VS RAPTORS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>AMAY</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>MARCH 30</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>



    <tr>
      <th scope="col">#5</th>
      <th scope="col">INFO</th>
    </tr>

    <tr>
      <td scope="row">GAME:</td>
      <td>RAPTORS VS MUSTANGS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>VERVIERS</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>April 13</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>19:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>



    <tr>
      <th scope="col">#6</th>
      <th scope="col">INFO</th>
    </tr>

    <tr>
      <td scope="row">GAME:</td>
      <td>RAPTORS	VS ATOMICS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>SINT-AGATHA-BERCHEM</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>APRIL 27</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>15:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>



    <tr>
      <th scope="col">#7</th>
      <th scope="col">INFO</th>
    </tr>

    <tr>
      <td scope="row">GAME:</td>
      <td>ATOMICS	VS RAPTORS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>SOUMAGNE</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>MAY 4</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>15:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>



    <tr>
      <th scope="col">#8</th>
      <th scope="col">INFO</th>
    </tr>

    <tr>
      <td scope="row">GAME:</td>
      <td>RAPTORS	VS BLACK ANGELS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>SINT-AGATHA-BERCHEM</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>MAY 11</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>15:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>

    <tr>
      <th scope="col">#9</th>
      <th scope="col">INFO</th>
    </tr>

    <tr>
      <td scope="row">GAME:</td>
      <td>MUSTANGS VS RAPTORS</td>
    </tr>
    <tr>
      <td scope="row">PLACE:</td>
      <td>AMAY</td>
    </tr>
    <tr>
      <td scope="row">DATE:</td>
      <td>MAY 25</td>
    </tr>
    <tr>
      <td scope="row">TIME:</td>
      <td>16:00</td>
    </tr>
    <tr>
      <td scope="row">RESULTS:</td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
    </tr>



    </tbody>
  </table>
</div>
